main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./../images/NatureBackground.png);
    background-size: cover;
    height: 300px;
    opacity: 0.7;
}
main h1 {
    opacity: 1.0;
}
.land1join {
    color: green;
    text-align: center;
    width: 50vw;
}
.land1about {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.land2 {
    display: flex;
    background-color: #C6E7CE;
}
.land2trending {
    width: 50vw;
    text-align: justify;
    padding: 25px;

}

h2 {
    text-align: center;
    background-color: whitesmoke;
    margin: 0;
    padding: 25px;
    font-size: 35px;
}
.land3 {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 25px;
}
.land3card {
    margin: 50px;
    border: 2px solid black;
    padding: 15px;
}
.land3card img {
    width: 200px;
    height: 200px;
}